# Chapter 3: Data Manipulation with Pandas
## By: Parisa Hormozzadeh

Pandas is a powerful and easy-to-use Python library for data analysis and manipulation.

It builds on numpy and provides data structures and functions to work with tabular and time series data.

---

## 1. Installing and Importing Pandas
- Pandas usually comes pre-installed with Anaconda.
- If not, install with:

```bash
pip install pandas
```

- Import pandas as:
---

In [1]:
import pandas as pd

## 2. Pandas Series
A Series is a one-dimensional labeled array capable of holding any data type.

### 2.1. Creating a Series from a list:

In [2]:
voltages = [220, 230, 210, 225]
voltage_series = pd.Series(voltages)
voltage_series

0    220
1    230
2    210
3    225
dtype: int64

### 2.2. Creating a Series with custom index labels:

In [3]:
labels = ['T1', 'T2', 'T3', 'T4']
voltage_series_custom = pd.Series(voltages, index=labels)
print(voltage_series_custom)

T1    220
T2    230
T3    210
T4    225
dtype: int64

## 3. Pandas DataFrame
DataFrame is a 2D labeled data structure with columns of potentially different types.

### 3.1. Creating a DataFrame from a dictionary:

In [3]:
data = {
    'Voltage': [220, 230, 210, 225],
    'Current': [10, 15, 9, 12],
    'Status': ['ON', 'ON', 'OFF', 'ON']
}
df = pd.DataFrame(data)
df

   Voltage  Current Status
0      220       10     ON
1      230       15     ON
2      210        9    OFF
3      225       12     ON

### 3.2. Creating DataFrame from CSV file
We have a CSV file named `power_consumption.csv`, we can read it as:



---

In [4]:
df = pd.read_csv('power_consumption.csv')
df.head()

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3,PowerDemandCategory
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386,Low
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434,Low
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373,Low
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711,Low
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964,Low

## 4. Viewing Data
- `head()` shows first 5 rows (default)
- `tail()` shows last 5 rows (default)
- `info()` shows summary including data types and missing values
- `describe()` shows statistical summary for numerical columns

---

In [6]:
print('\nInfo:')
df.info()

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Datetime                52416 non-null  object
 1   Temperature             52416 non-null  float64
 2   Humidity                52416 non-null  float64
 3   WindSpeed               52416 non-null  float64
 4   GeneralDiffuseFlows     52416 non-null  float64
 5   DiffuseFlows            52416 non-null  float64
 6   PowerConsumption_Zone1  52416 non-null  float64
 7   PowerConsumption_Zone2  52416 non-null  float64
 8   PowerConsumption_Zone3  52416 non-null  float64
 9   PowerDemandCategory     52416 non-null  object
dtypes: float64(8), object(2)
memory usage: 4.0+ MB

In [7]:
print('\nDescribe:')
df.describe()

Describe:

,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
count,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000
mean,18.810024,68.259518,1.959489,182.696614,75.028022,32344.970564,21042.509082,17835.406218
std,5.815476,15.551177,2.348862,264.400960,124.210949,7130.562564,5201.465892,6622.165099
min,3.247000,11.340000,0.050000,0.004000,0.011000,13895.696200,8560.081466,5935.174070
25%,14.410000,58.310000,0.078000,0.062000,0.122000,26310.668692,16980.766032,13129.326630
50%,18.780000,69.860000,0.086000,5.035500,4.456000,32265.920340,20823.168405,16415.117470
75%,22.890000,81.400000,4.915000,319.600000,101.000000,37309.018185,24713.717520,21624.100420
max,40.010000,94.800000,6.483000,1163.000000,936.000000,52204.395120,37408.860760,47598.326360

## 5. Selecting Data
### Select column by name

In [34]:
Temperature = df['Temperature']
Temperature

0        6.559
1        6.414
2        6.313
3        6.121
4        5.921
         ...
52411    7.010
52412    6.947
52413    6.900
52414    6.758
52415    6.580
Name: Temperature, Length: 52416, dtype: float64

#### ✅ .loc[] and .iloc[]

| Feature    | `.loc`                        | `.iloc`                 |
| ---------- | ----------------------------- | ----------------------- |
| Uses       | **Labels** (row/column names) | **Integer positions**   |
| Example    | `df.loc[3, "Humidity"]`       | `df.iloc[3, 2]`         |
| Common Use | When you know column names    | When you know positions |

In [10]:
# 1. Get Temperature at row with index 1
df.loc[1, "Temperature"]

6.414

In [13]:
# 2. Get Humidity for rows 0 and 2
df.loc[[0, 2], "Humidity"]

0    73.8
2    74.5
Name: Humidity, dtype: float64

In [14]:
# 3. Get full row for index 0
df.loc[0]

Datetime                  1/1/2017 0:00
Temperature                       6.559
Humidity                           73.8
WindSpeed                         0.083
GeneralDiffuseFlows               0.051
DiffuseFlows                      0.119
PowerConsumption_Zone1       34055.6962
PowerConsumption_Zone2      16128.87538
PowerConsumption_Zone3      20240.96386
PowerDemandCategory                 Low
Name: 0, dtype: object

In [16]:
# 1. Get Temperature at row 1, column 1
df.iloc[1, 1]

6.414

In [17]:
# 2. Get first two rows
df.iloc[0:2]

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3,PowerDemandCategory
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386,Low
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434,Low

In [18]:
# 3. Get only the "PowerConsumption_Zone1" column for all rows
df.iloc[:, 4]

0        0.051
1        0.070
2        0.062
3        0.091
4        0.048
         ...
52411    0.040
52412    0.051
52413    0.084
52414    0.066
52415    0.062
Name: GeneralDiffuseFlows, Length: 52416, dtype: float64

## 6. Filtering Data
Using boolean conditions to filter rows.


---

In [31]:
high_temperature = df[df['Temperature'] > 8]
high_temperature

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3,PowerDemandCategory,new_column
67,1/1/2017 11:10,8.22,61.90,4.916,388.200,33.890,29043.03797,17478.41945,15816.86747,0,40.40952
68,1/1/2017 11:20,9.49,59.30,2.451,401.300,34.400,29261.77215,17792.09726,15932.53012,0,23.25999
69,1/1/2017 11:30,10.65,56.03,0.084,419.500,35.290,29474.43038,17748.32827,16053.97590,0,0.89460
70,1/1/2017 11:40,11.06,53.52,0.082,430.900,37.580,29523.03797,17963.52584,16256.38554,0,0.90692
71,1/1/2017 11:50,12.40,53.26,0.080,437.500,43.460,29711.39241,18142.24924,16354.69880,0,0.99200
...,...,...,...,...,...,...,...,...,...,...,...
52396,12/30/2017 20:40,9.37,64.52,0.085,0.073,0.089,36879.08745,31828.16815,16929.65186,1,0.79645
52397,12/30/2017 20:50,9.29,64.25,0.085,0.070,0.085,36623.57414,31806.07548,16941.17647,1,0.78965
52398,12/30/2017 21:00,8.80,65.49,0.082,0.088,0.115,36343.72624,31345.81160,16877.79112,1,0.72160
52403,12/30/2017 21:50,8.14,69.73,0.081,0.062,0.085,34469.96198,29688.86161,16180.55222,1,0.65934
52404,12/30/2017 22:00,8.09,68.49,0.079,0.070,0.085,34920.15209,29445.84228,16053.78151,1,0.63911

## 7. Adding, Modifying, and Deleting Columns
---

In [36]:
# Add new column 
df['new_column'] = df['WindSpeed'] * df['Temperature']
df.head()

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3,PowerDemandCategory,new_column
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386,0,0.544397
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434,0,0.532362
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373,0,0.505040
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711,0,0.508043
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964,0,0.479601

In [30]:
# Modify 'Status' column
df['PowerDemandCategory'] = df['PowerDemandCategory'].replace({'Low': 0, 'High': 1})
df

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3,PowerDemandCategory,new_column
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386,0,0.544397
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434,0,0.532362
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373,0,0.505040
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711,0,0.508043
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964,0,0.479601
...,...,...,...,...,...,...,...,...,...,...,...
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212,1,0.560800
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152,0,0.569654
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259,0,0.593400
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504,0,0.540640
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820,0,0.532980

## 8. Sorting Data

---

In [38]:
df_sorted = df.sort_values(by='Temperature', ascending=False)
df_sorted

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3,PowerDemandCategory,new_column
29034,7/21/2017 15:00,40.010,14.54,0.070,798.000,85.400,37889.70100,26753.16456,29408.53556,1,2.800700
29033,7/21/2017 14:50,39.780,14.27,0.070,814.000,86.200,38151.22924,26821.51899,29342.25941,1,2.784600
29035,7/21/2017 15:10,39.760,14.94,0.072,784.000,83.600,37915.21595,26722.78481,29203.68201,1,2.862720
29031,7/21/2017 14:30,39.740,14.47,0.069,834.000,88.900,38323.45515,27037.97468,29553.13808,1,2.742060
29030,7/21/2017 14:20,39.730,14.37,0.066,842.000,90.300,38642.39203,27102.53165,29715.81590,1,2.622180
...,...,...,...,...,...,...,...,...,...,...,...
3494,1/25/2017 6:20,3.582,79.20,0.087,0.070,0.163,25470.37975,15446.80851,14989.87952,0,0.311634
3495,1/25/2017 6:30,3.555,79.50,0.087,0.073,0.152,25525.06329,15519.75684,14827.95181,0,0.309285
3486,1/25/2017 5:00,3.541,80.80,0.085,0.055,0.115,22584.30380,13798.17629,14232.28916,0,0.300985
3488,1/25/2017 5:20,3.441,82.80,0.086,0.051,0.119,22906.32911,13903.95137,14376.86747,0,0.295926
3487,1/25/2017 5:10,3.247,82.40,0.086,0.088,0.085,22547.84810,13714.28571,14226.50602,0,0.279242

## 9. Aggregation and Grouping

---

In [20]:
grouped = df.groupby('PowerDemandCategory').agg({'PowerConsumption_Zone1': ['mean', 'max' , 'sum']})
grouped

                    PowerConsumption_Zone1
                                      mean          max           sum
PowerDemandCategory
High                          38550.101491  52204.39512  9.225425e+08
Low                           27131.876366  38652.14209  7.728515e+08

## Summary
- Pandas is essential for tabular data manipulation.
- Series and DataFrame are core data structures.
- Use loc/iloc for selecting data.
- Boolean indexing helps filter data.
- Learn to add, modify, delete columns and handle missing data.
- Aggregation and grouping help summarize data.

Next: We'll cover **Data Preprocessing Essentials**.